@inject IHttpContextAccessor context;
@model AdminModel
@{
    context.HttpContext.Session.Remove("user");
}

<section class="vh-100 ">
    <div class="container py-5 px-md-5">
        <div class="row d-flex justify-content-center">
            <div class="col text-center">
                <img src="~/img/logo.png" class="img-fluid" alt="atlas" width="230px">
                 
                @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
                {
                    <!-- Email input -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="xxx.xxx.xxx-xx" asp-for="Email">
                        <label for="floatingInput">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Password">
                        <label for="floatingInput">Senha</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-info btn-lg">Entrar</button>
                    <a type="submit" class="btn btn-outline-primary btn-lg" href="https://avalia-ae.herokuapp.com">Ir para Avalia Aê!</a>
                }
               

            </div>
           
        </div>
    </div>
</section>