@model AdminViewModel

<div class="text-center">
    <h1 class="display-6">Inserir novo usuário</h1>
</div>

<div class="container">
    @using (Html.BeginForm("InsertNewUser", "UserControl", FormMethod.Post))
    {
        <div class="row mt-4">

            <div class="col">
                <input type="text" class="form-control" placeholder="Nome" asp-for="Admin.Name"/>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Email" asp-for="Admin.Email"/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <input type="password" class="form-control" placeholder="Senha" asp-for="Admin.Password" />
            </div>
            <div class="col">
                <select class="form-select" aria-label=" select example" asp-for="Admin.AdminLevelId" onchange="AlertSupervisor(this)" id="selectLevel">
                   
                    <option selected>Escolha um nivel de administrador</option>
                    @foreach (var item in Model.Level)
                    {
                        <option value=@item.Id>@item.LevelName</option>
                        
                    }

                </select>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <input type="text" class="form-control" placeholder="CPF" asp-for="Admin.Cpf" />
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
        </div>
    }
    
</div>

<script>
    function AlertSupervisor(select){
        if(select.value == 3){
            alert("Atenção! Você está atribuindo o nível máximo de supervisão a este usuário, por favor contatar administrador antes de prosseguir");
        }
    }
</script>