@model List<AdminViewModel>


<div class="text-center">
    <h5 class="display-5">Controle de usuários no sistema</h5>
</div>


<div class="text-center">
    <input type="text" class="form-control" placeholder="Pesquise aqui"/>
</div>


<div class="text-center mt-3">

    <a type="button" class="btn btn-primary" asp-action="CreateNewUser">
        Inserir novo usuário
    </a>
</div>
@if(TempData["success"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["success"]
    </div>
}

<table class="table table-striped table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Admin level</th>
            <th scope="col">Editar/excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.AdminLevelName</td>
                <td>
                    <button class="btn btn-info">Editar parâmetros</button>
                    <a class="btn btn-danger" asp-action="RemoveNewUser" asp-route-id=@item.Admin.Id>Excluir</a>

                </td>
         </tr>
          

        }
        
        
    </tbody>
</table>


